body {
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
}

h1 {
    font-size: 50px;
    color: #A9A9A9;
}

ul, li, a, p, div {
    margin: 0;
    padding: 0;
    color: #000;
    list-style: none;
    text-decoration: none;
}

.search_field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin-left: 485px;
    margin-top: 100px;*/
    display: inline-block;
    width: 300px;
}

.search_field.active .menu {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: 0.3s ease-in;
}

.search_field > input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.search_field .menu {
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    max-height: 300px;
    overflow-y: auto;
}

.search_field .menu > ul {
    padding: 5px 0;
}

.search_field .menu > ul > li {
    display: block;
    padding: 7px 15px;
    cursor: pointer;
}